<h3>Creazione filtro</h3>

<mat-form-field style="margin:5px;">
  <mat-select placeholder="Proprietà" [(ngModel)]="constraint.property">
    <mat-option *ngFor="let property of data.properties" [value]="property">
      {{property}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field style="margin:5px;">
  <mat-select placeholder="Operatore" [(ngModel)]="constraint.operator">
    <mat-option *ngFor="let operator of operators" [value]="operator">
      {{operator}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field style="margin:5px;">
  <input matInput placeholder="Valore" [(ngModel)]="constraint.value">
</mat-form-field>

<mat-card-actions>
  <button mat-button (click)="cancel()">Annulla</button>
  <button mat-button (click)="save()" [disabled]="!constraint.operator || !constraint.property || !constraint.value">Salva</button>
</mat-card-actions>
