<mat-sidenav-container style="height: 100%; width: 100%;">

  <mat-sidenav #sidenav mode="side" style="border-right: 1px solid lightgray; height: 100%;">

    <app-side-menu></app-side-menu>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <button mat-button (click)="goToQuerist()"><h1>Querying Ethereum</h1></button>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>
