.visual-querist-container {
  width: 100%;
  padding: 16px;
}

.visual-querist-container mat-card {
  margin: 10px 15px;
  display: inline-block;
  vertical-align: top;
}

.info-card, .projection-card {
  width: 25%;
}

.selection-card {
  width: 40%
}

.field {
  width: 150px;
  margin: 5px;
}

.operator-field {
  width: 100px;
}

.logical-op-field {
  width: 60px;
}

.floating-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
}
