<div class="visual-querist-container">

    <mat-card class="info-card">
      <h3>Informazioni</h3>
      <mat-radio-group>
        <mat-radio-button value="Block" (change)="updateSelection('Block')">Blocco</mat-radio-button>
        <br>
        <mat-radio-button value="Transaction" (change)="updateSelection('Transaction')">Transizione</mat-radio-button>
        <br>
        <mat-radio-button value="Account" (change)="updateSelection('Account')">Account</mat-radio-button>
      </mat-radio-group>
    </mat-card>

    <mat-card class="selection-card">
      <h3>Selezione</h3>

      <div *ngFor="let constraint of constraints">

        <mat-form-field class="field">
          <mat-select placeholder="Proprietà" [(ngModel)]="constraint.property">
            <mat-option *ngFor="let property of currentProperties" [value]="property">
              {{property}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="field operator-field">
          <mat-select placeholder="Operatore" [(ngModel)]="constraint.operator">
            <mat-option *ngFor="let operator of operators" [value]="operator">
              {{operator}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="field">
          <input matInput placeholder="Valore" [(ngModel)]="constraint.value">
        </mat-form-field>

        <mat-form-field class="field logical-op-field" *ngIf="constraint.logicalOperator != null">
          <mat-select [(value)]="constraint.logicalOperator">
            <mat-option *ngFor="let op of logicalOperators | logical" [value]="op.key">{{op.value}}</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

      <mat-card-actions>
        <button mat-button (click)="addConstraint()" [disabled]="currentProperties.length <= 0">Aggiungi regola</button>
      </mat-card-actions>

    </mat-card>

    <mat-card class="projection-card">
      <h3>Proiezione</h3>
      <div *ngFor="let property of currentProperties">
        <mat-checkbox (change)="updateProjection(property)">{{property}}</mat-checkbox>
      </div>
    </mat-card>

</div>

<button mat-fab class="query-button" (click)="startQuery()" [disabled]="currentProperties.length <= 0">
  <mat-icon class="material-icons">send</mat-icon>
</button>
